body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #adb5bd;
    font-family: Arial, sans-serif;
    margin: 0;
}
.background-message {
    position: absolute;
    top: 20px; /* Position from top */
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 24px;
    text-align: center;
    
}

.calculator {
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 360px; /* Increased width for better layout */
    padding: 20px;
   
}

.display {
    background-color: #495057;
    color: #ffffff;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 50px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #cdb4db;
    transition: background-color 0.2s;
}

.zero {
    grid-column: span 2; /* Make zero button span across two columns */
}

.btn:active {
    background-color: #ddd;
}

.operator {
    background-color: #b8bedd;
    color: #7b2cbf;
}

.operator:active {
    background-color: #e59400;
}

.equal {
    background-color: #38a3a5;
    color: white;
    grid-column: span 4;
}

.equal:active {
    background-color: #90e0ef;
}
